@font-face {
    font-family: "Norsebold";
    src: 
        url("./norsebold-font/Norse-Bold.woff2") format("woff2"),
        url("./norsebold-font/Norse-Bold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
:root{
    --input-border-color: #E5E7EB;
    --input-focus-border-color: blue;
}

body{
    display: flex;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#bg-img{
    width: 40vw;
    height: auto;
}

.background{
    position: relative;
    width: auto;
    height: auto;
}
#logo{
    background-color: black;
    opacity: 0.5;
    position: absolute;
    top: 40vh;
    width: 100%;
    font-family: "Norsebold", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 8rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
}

#logo > img{
    width: 7vw;
}

#title{
    
    font-size: 2rem;
    font-weight: 600;
    padding: 10rem 3rem 3rem;
    background-color:  #F5F5F5;
}

section{
    box-shadow: 0px 6px 8px darkgray;
    display: flex;
    flex-wrap: wrap;
    padding-top: 12px;
    padding-bottom: 60px;
    gap: 0px 50px;

}

label{
    font-size: 1.5rem;
}
input{
    width: 18vw;
    height: 5vh;
    border: solid 2px var(--input-border-color);
    border-radius: 5px;
}
input:focus{
    outline: none;
    border-color: var(--input-focus-border-color)!important;
    box-shadow: 0px 2px 5px black;
}

section > h2{
    width: 100%;
    font-size: 1.8rem;
}

section > p{
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input[type="tel"]:invalid{
    border: solid 2px red;
}

input[type="password"]:invalid{
    border: solid 2px red;
}
input:valid{
    border-color:forestgreen;
}

button{
    width: 12vw;
    height: 6vh;
    background-color: orange;
    border-radius: 6px;
    border: none;
    color: #f5f5f5;
    font-size: 1.4rem;
}

form > *{
    padding-left: 60px;
}

#submit{
    margin-top: 36px;
}
p{
    font-size: 1.5rem;
}

a{
    color: orange;
    text-decoration: none;
}